@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    font-family: 'Lato', sans-serif;
}
.navbar-brand {
    font-weight: 700;
}

.panel-heading .title {
    height: 28px;
    line-height: 28px;
}

.users input{
    width: 100%;
}

.users .buttons{
    white-space: nowrap;
}
.users tr .id{
    width: 65px;
}

.users select {
    height:26px;
    line-height:26px;
}

.news .buttons{
    white-space: nowrap;
}

.addnews {
    padding-top: 5px;
}

.news-edit .news-info {
    padding: 10px 0;
}

.footer {
    height: 60px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: solid #e7e7e7;
    border-width: 1px 0 0;
}
@media (max-width: 500px) {
    .navbar-brand {
    }
}

/*@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: auto;
    }
}*/