<div class="news-edit">
    <div class="modal-header">
        <h3 class="modal-title">Edytujesz newsa o ID {{news_id}}</h3>
    </div>
    <div class="modal-body">
        <text-angular ng-model="content"></text-angular>
        <div class="news-info">
        <p class="pull-right">
            {{'Napisano ' + news_date + ' przez ' +lastname + ' ' + firstname + ' (' + author_id + ')' }}
        </p>
        </div>
    </div>
    <div class="clearfix">
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="save()">Zapisz zmiany</button>
        <button class="btn" ng-click="cancel()">Anuluj</button>
    </div>
    </div>
</div>