<div class="col-xs-12 ">
    <div class="panel panel-primary">
        <div class="panel-heading hover-link" data-toggle="collapse" data-parent="false" data-target="#collapseTableOne">
            <h4 class="panel-title">
               <div class="glyphicon glyphicon-plus"></div> Napisz newsa
            </h4>
        </div>
        <div id="collapseTableOne" class="panel-collapse collapse out">
            <div class="panel-body">
                <text-angular ng-model="content"></text-angular>

                <div class="addnews">
                    <button class="btn btn-primary pull-right" ng-click="addNews()">Opublikuj</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




<div class="col-xs-12 news">
    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            <div class="row">
                <div class="col-xs-8 col-md-9 title">Newsy</div>
                <div class="col-xs-4 col-md-3">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="Szukaj" ng-model="searchNews">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-info" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-responsive table-hover">
            <thead>
            <tr>
                <th><a href="" ng-click="sort_field='news_id'; reverseSort = !reverseSort">ID</a></th>
                <th><a href="" ng-click="sort_field='content'; reverseSort = !reverseSort">Treść</a></th>
                <th><a href="" ng-click="sort_field='lastname'; reverseSort = !reverseSort">Autor (ID)</a></th>
                <th><a href="" ng-click="sort_field='news_date'; reverseSort = !reverseSort">Data</a></th>
                <th>Akcja</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="message in news | orderBy:sort_field:reverseSort | filter : paginate | filter : searchNews">
                <td class="id">
                    {{message.news_id }}
                <td>
                    {{message.content | limitTo: 50}}
                    {{message.content.length > 50 ? '...': ''}}
                </td>
                <td>
                    {{message.lastname + ' ' + message.firstname + ' (' + message.author_id + ')' }}
                </td>

                <td>
                    {{message.news_date | date: 'dd/MM/yyyy'}}
                </td>

                <td class="buttons">
                    <button ng-click="editNews('lg',message,$index)" class="btn btn-xs glyphicon glyphicon-pencil"/>
                    <button type="button" class="btn btn-xs glyphicon glyphicon-trash" ng-click="removeNews(message.news_id)"/>
                </td>
            </tr>



            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <div class="text-center">
                        <pagination boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage"  ng-model="currentPage" class="pagination-sm" ng-change="pageChanged()"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="Pierwszy" last-text="Ostatni">

                        </pagination>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>
