<div class="col-xs-12 users">
    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            <div class="row">
            <div class="col-xs-8 col-md-9 title">Użytkownicy</div>
            <div class="col-xs-4 col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" placeholder="Szukaj" ng-model="searchUser">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-info" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <table class="table table-responsive table-hover">
                    <thead>
                    <tr>
                        <th><a href="" ng-click="sort_field='id'; reverseSort = !reverseSort">ID</a></th>
                        <th><a href="" ng-click="sort_field='degree'; reverseSort = !reverseSort">Stopień</a></th>
                        <th><a href="" ng-click="sort_field='lastname'; reverseSort = !reverseSort">Imię i nazwisko</a></th>
                        <th><a href="" ng-click="sort_field='email'; reverseSort = !reverseSort">e-mail</a></th>
                        <th><a href="" ng-click="sort_field='role'; reverseSort = !reverseSort">Rola</a></th>
                        <th>Akcja</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users | orderBy:sort_field:reverseSort | filter : paginate | filter : searchUser">
                        <td class="id">
                            {{ user.id }}
                        <td>
                            <div ng-hide="editingData[user.id]">{{  user.degree }}</div>
                            <div ng-show="editingData[user.id]"><input type="text" ng-model="user.degree" /></div>
                        </td>
                        <td>
                            <div ng-hide="editingData[user.id]">{{user.firstname +" "+ user.lastname }}</div>
                            <div ng-show="editingData[user.id]"><input type="text" ng-model="user.lastname" /></div>
                        </td>
                        <td>
                            <div ng-hide="editingData[user.id]">{{ user.email }}</div>
                            <div ng-show="editingData[user.id]"><input type="email" ng-model="user.email" /></div>
                        </td>
                        <td>
                            <div ng-hide="editingData[user.id]">{{ user.role }}</div>
                            <div ng-show="editingData[user.id]">
                                <select ng-model="user.role">
                                    <option value="admin">admin</option>
                                    <option value="user">user</option>
                                </select>

                            </div>
                        </td>

                        <td class="buttons">
                            <button ng-hide="editingData[user.id]" ng-click="modify(user)" class="btn btn-xs glyphicon glyphicon-pencil"/>
                            <button ng-show="editingData[user.id]" ng-click="update(user)" class="btn btn-xs glyphicon glyphicon-ok"/>
                            <button type="button" class="btn btn-xs glyphicon glyphicon-trash" ng-click="removeRow(user.id)"/>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div ng-show="showinputs"><input type="number" ng-model="id" /></div>
                        <td>
                            <div ng-show="showinputs"><input type="text" ng-model="firstname" /></div>
                        </td>
                        <td>
                            <div ng-show="showinputs"><input type="text" ng-model="lastname" /></div>
                        </td>
                        <td>
                            <div ng-show="showinputs"><input type="text" ng-model="email" /></div>
                        </td>
                        <td>
                            <div ng-show="showinputs">
                                <select ng-model="role">
                                    <option value="admin">admin</option>
                                    <option value="user">user</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <button ng-show="showinputs" type="button" class="btn btn-xs glyphicon glyphicon-ok" ng-click="addRow(); showinputs=false"/>
                            <button ng-hide="showinputs" type="button" class="btn btn-xs glyphicon glyphicon-plus" ng-click="showAddRow(); showinputs=true"/>

                        </td>
                    </tr>


                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="text-center">
                                    <pagination boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage"  ng-model="currentPage" class="pagination-sm" ng-change="pageChanged()"
                                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="Pierwszy" last-text="Ostatni">

                                    </pagination>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
    </div>
</div>