<div class="col-xs-12">
    <div class="worker">
      <div class="well">
        <div class="row">
          <section class="aside col col-xs-2">
            <div class="media center-block">
              <img src="../img/member.png" class="img-rounded img-responsive">
            </div>
          </section><!--zdjecie-->

          <section class="main col col-xs-10 col-sm-7 col-md-8">
            <h1>dr hab. Jan Łydka</h1>
            <h2>Dyrektor zakładu</h2>
          </section><!--dane osobowe-->

          <section class="aside col col-xs-12 col-sm-3 col-md-2">
            <a href="mailto:janlydka@gmail.com">
              <button type="button" class="btn btn-default btn-block">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                e-mail
              </button>
            </a>

            <br>
            <a href="http://pakerzy.org">
              <button type="button" class="btn btn-default btn-block">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                www
              </button>
            </a>
          </section><!--przyciski-->
        </div>
      </div><!--row-->

      <!-- WORKER TABS -->
      <div>
        <ul id="workerTabMenu" class="nav nav-tabs">
          <li class="active"><a href="#worker-news" data-toggle="tab">Aktualności</a></li>
          <li><a href="#resources" data-toggle="tab">Materiały dydaktyczne</a></li>
          <li><a href="#science" data-toggle="tab">Działalność naukowa</a></li>
          <li><a href="#cv" data-toggle="tab">CV</a></li>
        </ul>

        <div id="workerTabContent" class="tab-content">
          <div class="tab-pane in active" id="worker-news">
            <div class="worker-article-content">
              <h2>Szokujące wieścidełka
                <br>
                <small>13/01/2015</small>
              </h2>
              <p class="text-justify">Obejrzałem sobie klasyfikację medalową para-olimpiady. Nie ma tam prawie w ogóle państw afrykańskich. Tam zaraza nie dotarła. Ale to oznacza, że Murzyni niedługo podbiją świat. I wyrżną nas. Socjaliści uważają odwrotnie: Człowiek jest idiotą i nie podejmie decyzji rozsądnej czy zapiąć się pasami w samochodzie czy nie, czy się ubezpieczyć czy tak samo nakazać, natomiast ten sam idiota jest w pełni kompetentny, żeby wybrać prezydenta, podjąć decyzję czy przystąpić do Unii Europejskiej czy nie, tu to on jest geniuszem! W dzisiejszych czasach 'liberał' to człowiek, który pozwala rodzicom wybrać dla dziecka między aż dwoma podręcznikami do przymusowego wychowania seksualnego.</p>
                  <span class="seemore">
                          <button type="button" class="btn btn-default btn-sm">Zobacz więcej</button>
                  </span>
            </div>
            <div class="worker-article-content">
              <h2>Szokujące wieścidełka
                <br>
                <small>13/01/2015</small>
              </h2>
              <p class="text-justify">Ale mam też zalety – na przykład – jestem zarozumiały. W Polsce poltykę finansują gangi np ci od afery alkoholowej,paliwowej,fozz ,węglowej czy ostatnio hazardowej. Lewica działa zgodnie z elementarzem: „Gdy chcesz zniszczyć organizację (tu: organizację społeczeństwa) wybieraj niezadowolonych – a jak ich nie ma: potencjalnych niezadowolonych – i wmawiaj im, jacy to są oni pokrzywdzeni.</p>
                  <span class="seemore">
                          <button type="button" class="btn btn-default btn-sm">Zobacz więcej</button>
                  </span>
            </div>
            <div class="worker-article-content">
              <h2>Szokujące wieścidełka
                <br>
                <small>13/01/2015</small>
              </h2>
              <p class="text-justify">Małpa bowiem mając do wyboru A lub B głosuje losowo – a więc myli się raz na dwa razy. Natomiast socjalista myli się zawsze. Polska musi być otwarta na wszystkie możliwe koalicje jakie powstaną, bo mogą być różne zagrożenia i nie możemy z góry powiedzieć, czy jednego dnia nie zawrzemy jednego traktau, a jutro innego.</p>
                  <span class="seemore">
                          <button type="button" class="btn btn-default btn-sm">Zobacz więcej</button>
                  </span>
            </div>
            <div class="worker-article-content">
              <h2>Szokujące wieścidełka
                <br>
                <small>13/01/2015</small>
              </h2>
              <p class="text-justify">Celem gospodarki jest import! Jeżeli sprzedajemy za granicę węgiel, to nie po to żeby się pozbyć z Polski węgla, bo nie chcemy go mieć, tylko po to żeby dostać za niego pieniądze. Ale przecież nie chcemy mieć pieniędzy po to żeby nimi tapetować chałupę, bo do tego pieniędzy się nie używa, tylko po to żeby coś kupić. Celem jest kupno! Po to sprzedajemy węgiel, żeby kupić za niego załóżmy komputery. Celem jest oczywiście import komputerów, a nie eksport węgla</p>
                  <span class="seemore">
                          <button type="button" class="btn btn-default btn-sm">Zobacz więcej</button>
                  </span>
            </div>

            <!--PAGINATOR-->
            <div class="text-center">
              <nav>
                <ul class="pagination">
                  <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="tab-pane" id="resources">
            <h3>Wykłady:</h3>
            <ul class="list-unstyled icon-list icon-file">
              <li><a href="#">Wykład nr 01 (6.10.2014)</a></li>
              <li><a href="#">Wykład nr 02 (13.10.2014)</a></li>
              <li><a href="#">Wykład nr 03 (20.10.2014)</a></li>
              <li><a href="#">Wykład nr 04 (3.11.2014)</a></li>
              <li><a href="#">Wykład nr 05 (12.11.2014), środa, aula 213 w Instytucie Matematyki</a></li>
              <li><a href="#">Wykład nr 06 (17.11.2014)</a></li>
              <li><a href="#">Wykład nr 07 (24.11.2014)</a></li>
              <li><a href="#">Wykład nr 08 (1.12.2014 oraz 8.12.2014)</a></li>
              <li><a href="#">Wykład nr 09 (8.12.2014 oraz 15.12.2014)</a></li>
            </ul>
          </div>

          <div class="tab-pane" id="science">
            <h3>Publikacje naukowe</h3>
            <ol>
              <li>K. Stąpor, A. Bruckner, P. Błaszczyk, A comparative review of selection methods for discovering differentially expressed genes in microarray experiments for classification, Studia Informatica (2006), vol. 27 no. 4(69).</li>
              <li>K. Stąpor, P. Błaszczyk, A. Bruckner, Discriminant analysis and multiple hypothesis testing for the classification of high-dimensional microarray data, Konferencja Zastosowań Matematyki, Zakopane 2006.</li>
              <li>P. Błaszczyk, K. Stąpor, Porównanie sprawności klasyfikacji danych mikromacierzowych za pomocą Liniowej Dyskryminacji Fishera (FLD) oraz metody Cząstkowych Najmniejszych Kwadratów (PLS), Studia Informatica (2007), vol. 28, no. 2(71).</li>
              <li>P. Błaszczyk, K. Stąpor, Maximum Separation Partial Least Squares (MSPLS): A new method for classification in microarray experiment, Journal of Medical Informatics and Technologies 2007.</li>
              <li>P. Błaszczyk, K. Stąpor, A new feature extraction method based on the Partial Least Squares algorithm and its applications, Advances in Intelligent and Soft Computing, Volume 57, 179-186, Springer 2009.</li>
              <li>P. Błaszczyk, T. Baszczyk, M. B. Kania, Task duration buffers versus work amount buffers. The first Earned Value Analysis Conference for the Continental Europe (proceedings), 1 (1), CERN Geneva 2009, 345-375.</li>
              <li>P. Błaszczyk, T. Baszczyk, M. B. Kania, Dwukryterialna Analiza projektu modelowanego z uwzględnieniem buforów czasowych i kosztowych. In: Trzaskalik T. (ed.) Modelowanie Preferencji a Ryzyko 2010, Katowice 2010, 185-196.</li>
              <li>P. Błaszczyk, T. Błaszczyk, M. B. Kania , The bi-criterial approach to project cost and schedule buffers sizing, Lecture Notes in Economics and Mathematical Systems, New state of MCDM in the 21st century, Vol 648, Part 3, 105-114, Springer 2011.</li>
              <li>P. Błaszczyk, A new tool for feature extraction and its application to credit risk analysis, Lecture Notes in Economics and Mathematical Systems, New state of MCDM in the 21st century, Vol 648, Part 3, 131-141, Springer 2011.</li>
              <li>T. Wachowicz, T. Błaszczyk, P. Błaszczyk, The Even-Swap Based Scoring System And Its Application To Selection Of Heating Source For Individual House Building Project, Int. J. of Applied Management Science, submitted.</li>
              <li>P. Błaszczyk, Robust tool for feature extraction and its application, IEEE IEEM International Conference on Industrial Engineering and Engineering Management, 2010 IEEE International Conference on, 352-356.</li>
              <li>P. Błaszczyk, Feature extraction and classification in Pattern recognition and their application in economy,</li>
              <li>T. Wachowicz, P. Błaszczyk, TOPSIS Based Negotiation Offers Scoring Approach For Negotiation Support Systems, accepted.</li>
              <li>P. Błaszczyk, T. Błaszczyk, M. B. Kania, Theoretical foundations of fuzzy bi-criterial approach to project cost and schedule buffers sizing, Lectures Notes on Engineering and Computer Science, Vol 2194, 1121-1125, 2011.</li>
              <li>P. Błaszczyk, T. Błaszczyk, M. B. Kania, IAENG Transactions on Engineering Technologies, IAENG Transactions on Engineering Technologies 2012, chapter 30.</li>
              <li>P. Błaszczyk, T. Błaszczyk, M. B. Kania, Dwukryterialny rozmyty model łańcucha krytycznego  podstawy teoretyczne, Studia Ekonomiczne - Analiza i wspomaganie decyzji pod redakcjš prof. dr hab. D. Kopańskiej-Bródki, 2013, 9-25</li>
              <li>P. Błaszczyk, T. Błaszczyk, New formal approach to project critical buffer, IEEE IEEM International Conference on Industrial Engineering and Engineering Management, 2012 IEEE International Conference on</li>
              <li>P. Błaszczyk, T. Błaszczyk, Assessment of the risk of the project's contractor bankruptcy using the Partial Least Squares approach, Procedia Technology 2013(9), 777 - 786</li>
            </ol>
          </div>

          <div class="tab-pane" id="cv">
            <section class="workerinfo">
              <h3>Wykształcenie</h3>
              <ul>
                <li> 1990 - Matura, Technikum Mechaniczne, Tychy.
                <li> 1995 - Magister fizyki, Uniwersytet Śląski, Katowice.
                <li> 2000 - Doktorat, Uniwersytet Śląski, Katowice.
                <li> 2013 - Habilitacja, Uniwersytet Śląski, Katowice.
              </ul>

              <h3>Zainteresowania</h3>
              <ul>
                <li>Martwy ciąg</li>
                <li>Martwy ciąg</li>
                <li>Martwy ciąg</li>
                <li>Martwy ciąg</li>
                <li>Martwy ciąg</li>
              </ul>
            </section>
          </div>

        </div>
      </div>
    </div>
</div>