<!-- NEWS  -->
<div class="col-xs-12 col-md-9">
  <div class="row">
      <div class="news main col-xs-12">

          <div class="articles">
              <div class="well">
                  <div class="article-content">
                      <h2>Szokujące wieści i wieścidełka</h2>
                      <p class="text-justify">Obejrzałem sobie klasyfikację medalową para-olimpiady. Nie ma tam prawie w ogóle państw afrykańskich. Tam zaraza nie dotarła. Ale to oznacza, że Murzyni niedługo podbiją świat. I wyrżną nas. Socjaliści uważają odwrotnie: Człowiek jest idiotą i nie podejmie decyzji rozsądnej czy zapiąć się pasami w samochodzie czy nie, czy się ubezpieczyć czy tak samo nakazać, natomiast ten sam idiota jest w pełni kompetentny, żeby wybrać prezydenta, podjąć decyzję czy przystąpić do Unii Europejskiej czy nie, tu to on jest geniuszem! W dzisiejszych czasach 'liberał' to człowiek, który pozwala rodzicom wybrać dla dziecka między aż dwoma podręcznikami do przymusowego wychowania seksualnego.</p>
                      <span class="date"><a href="/#/member-info">Jan Łydka</a>, 23/03/2015</span>
                  </div>
                  <div class="article-content">
                      <h2>Szokujące wieści</h2>
                      <p class="text-justify">Ale mam też zalety – na przykład – jestem zarozumiały. W Polsce poltykę finansują gangi np ci od afery alkoholowej,paliwowej,fozz ,węglowej czy ostatnio hazardowej. Lewica działa zgodnie z elementarzem: „Gdy chcesz zniszczyć organizację (tu: organizację społeczeństwa) wybieraj niezadowolonych – a jak ich nie ma: potencjalnych niezadowolonych – i wmawiaj im, jacy to są oni pokrzywdzeni.</p>
                      <span class="date"><a href="/#/member-info">Jan Łydka</a>, 4/03/2015</span>
                  </div>
                  <div class="article-content">
                      <h2>Taka prawda</h2>
                      <p class="text-justify">Małpa bowiem mając do wyboru A lub B głosuje losowo – a więc myli się raz na dwa razy. Natomiast socjalista myli się zawsze. Polska musi być otwarta na wszystkie możliwe koalicje jakie powstaną, bo mogą być różne zagrożenia i nie możemy z góry powiedzieć, czy jednego dnia nie zawrzemy jednego traktau, a jutro innego.</p>
                      <span class="date"><a href="/#/member-info">Jan Łydka</a>, 28/02/2015</span>
                  </div>
                  <div class="article-content">
                      <h2>Sama prawda</h2>
                      <p class="text-justify">Celem gospodarki jest import! Jeżeli sprzedajemy za granicę węgiel, to nie po to żeby się pozbyć z Polski węgla, bo nie chcemy go mieć, tylko po to żeby dostać za niego pieniądze. Ale przecież nie chcemy mieć pieniędzy po to żeby nimi tapetować chałupę, bo do tego pieniędzy się nie używa, tylko po to żeby coś kupić. Celem jest kupno! Po to sprzedajemy węgiel, żeby kupić za niego załóżmy komputery. Celem jest oczywiście import komputerów, a nie eksport węgla</p>
                      <span class="date"><a href="/#/member-info">Jan Łydka</a>, 13/01/2015</span>
                  </div>

                  <div class="text-center">
                      <nav>
                          <ul class="pagination">
                              <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                          </ul>
                      </nav>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>

<!-- PANELS  -->
<div class="col-xs-12 col-md-3">
    <div class="news-aside">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Dane kontaktowe</h3>
            </div>
            <div class="panel-body">
                <p class="col-sm-6 col-md-12">
                    Zaklad Fizyki Kryształów <br>
                    ul. Uniwersytecka 4 <br>
                    40-007 Katowice
                </p>
                <p class="col-sm-6 col-md-12">
                    Tel:  (048)-(32)-359-1762 <br>
                    Fax: (048)-(32)-588-431
                </p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Niezbędne informacje</h3>
            </div>
            <div class="panel-body">
                <p class="col-xs-12">
                    Zwalczanie analfabetyzmu spowodowało upowszechnienie się horoskopów drukowanych w miliardach kopii. Co gorsza, powstała warstwa pół-inteligentów, którzy rozumieją zdanie typu: „Bioenergetyczna transformacja konfiguratywnego pola transcendencji wektorowej stanowi fundament heurezy protoekstremalnych koacerwatów”. Byłoby taniej i bezpieczniej gdyby czytali manifesty poezji nowoczesnej lub odmawiali litanie.
                </p>
            </div>
        </div>
    </div>
</div>