@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    font-family: 'Lato', sans-serif;
}
.navbar-brand {
    font-weight: 700;
}

.panel-heading .title {
    height: 28px;
    line-height: 28px;
}

.users input{
    width: 100%;
}

.users .buttons{
    white-space: nowrap;
}
.users tr .id{
    width: 65px;
}

.users select {
    height:26px;
    line-height:26px;
}

.news .buttons{
    white-space: nowrap;
}

.addnews {
    padding-top: 5px;
}

.news-edit .news-info {
    padding: 10px 0;
}

.modal-backdrop {
height: 100%;
}

.footer {
    height: 60px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: solid #e7e7e7;
    border-width: 1px 0 0;
}
@media (max-width: 500px) {
    .navbar-brand {
    }
}

.form-login input{
    margin-bottom: 10px;
}

.form-login button{
    width: 100px;
}



/*@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: auto;
    }
}*/


/* page animations ------------------------ */

.page {
    transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.page.ng-enter {
    opacity: 0;
    transform: scale(0.8);
    transition-duration: 250ms;
}

.page.ng-enter-active {
    opacity: 1;
    transform: scale(1);
}


.alert-error {
    margin-top: 10px;
    margin-bottom: 0;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.alert-error.ng-hide {
    opacity:0;
}

.message{
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
}

.message.ng-enter.ng-enter-active,
.message.ng-leave {
    opacity: 1;
}

.message.ng-leave.ng-leave-active,
.message.ng-enter {
    opacity: 0;
}

.message.ng-enter-stagger {
    transition-delay: 0.05s ;
    -webkit-transition-delay: 0.05s ;
    transition-duration: 0s ;
    -webkit-transition-duration: 0s ;
}

/*********/
@media (min-width: 768px){
    .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #e3e3e3;
    }
}
.addtab  {
font-size: 1em;
}

.workertabs .btn{
    margin-left: 10px;
    margin-top: 10px;
}