<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ng-hide="isLogged" class="navbar-brand" href="/#/">Panel administracyjny</a>
                <a ng-show="isLogged" class="navbar-brand" href="/#/admin">{{'Witaj, '+ user.username}}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li ng-show="isLogged"> <a href="/#/news">Newsy</a></li>
                    <li ng-show="isLogged && isAdmin"><a href="/#/users">Użytkownicy </a></li>
                    <li ng-show="isLogged && isAdmin"><a href="/#/settings">Ustawienia strony</a></li>
                    <li ng-show="isLogged"><a href="/#/profile">Profil</a></li>
                    <li ng-show="isLogged"><a href ng-click="logout()">Wyloguj</a></li>

                    <li ng-hide="isLogged"><a href="/#/home">Strona główna</a></li>
                    <li ng-hide="isLogged"><a href="/#/people">Kadra</a></li>
                    <li ng-hide="isLogged"><a href="/#/about">O nas</a></li>
                    <li ng-hide="isLogged"><a href="/#/login">Zaloguj</a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</nav>