<div class="news-edit">
    <div class="modal-header">
        <h3 class="modal-title">Edycja  {{type + id}}</h3>
    </div>
    <div class="modal-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="page-title">Tytuł: </label>
                <input type="text" id="page-title" ng-model="title" class="form-control">
            </div>
        </form>
        <text-angular ng-model="content"></text-angular>
    </div>
    <div class="clearfix">
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save()">Zapisz zmiany</button>
            <button class="btn" ng-click="cancel()">Anuluj</button>
        </div>
    </div>
</div>