<div class="col-xs-12 settings">

    <div class="panel panel-primary">
        <div class="panel-heading hover-link add-bar" data-toggle="collapse" data-parent="false" data-target="#collapsePanel">
            <h4 class="panel-title">
                <div class="glyphicon glyphicon-plus"></div> Dodaj element
            </h4>
        </div>
        <div id="collapsePanel" class="panel-collapse collapse out">
            <div class="panel-body">

                <form class="form-horizontal">

                    <div class="form-group">
                        <label for="news-type">Wybierz typ:</label>
                            <select class="form-control" id="news-type" ng-model="type">
                                <option value="panel" selected>Panel</option>
                            </select>
                    </div>

                    <div class="form-group">
                        <label for="news-title" >Tytuł</label>
                            <input type="text" id="news-title" ng-model="title" class="form-control">
                    </div>
                </form>

                <text-angular ng-model="content"></text-angular>

                <div class="addelement">
                    <button class="btn btn-primary pull-right add" ng-click="addElement()">Dodaj</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            <h4 class="panel-title">
                 Ustawienia strony
            </h4>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th><a href="" ng-click="sort_field='type'; reverseSort = !reverseSort">Typ</a></th>
                    <th><a href="" ng-click="sort_field='title'; reverseSort = !reverseSort">Tytuł</a></th>
                    <th><a href="" ng-click="sort_field='content'; reverseSort = !reverseSort">Zawartość</a></th>
                    <th>Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="page in pages | orderBy:sort_field:reverseSort" class="page">
                    <td>
                        {{page.type}}
                    </td>
                    <td>
                        {{page.title}}
                    </td>
                    <td>
                        {{page.content | limitTo: 70}}
                        {{page.content.length > 70 ? '...': ''}}
                    </td>

                    <td class="action-buttons">
                        <button ng-click="editPage('lg',page)" class="btn btn-xs glyphicon glyphicon-pencil"/>
                        <button ng-hide="page.type=='about' || page.type=='header'" type="button" class="btn btn-xs glyphicon glyphicon-trash" ng-click="delete(page.id)"/>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>